main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main ul {
  display: flex;
  flex-direction: column;
}
main ul li{
  list-style: none;
  margin-right: 2.5rem;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid gray;
}
main ul li:last-child{
  border: none;
}
main ul li button {
  background: none;
  border: none;
  transition: background 0.5s ease-in;
}
main ul li button.filled {
  color: red;
}
main ul li button:hover{
  background: #ddd;
}