h1 {
  text-align: center;
}
main {
  margin: auto;
  width: 50%;
  text-align: center;
}
#text-input {
  outline: none;
  border: 2px solid #0721ae;
  padding: 0.2rem 0.4rem;
  border-radius: 0.5rem;
}
.red {
  color: red;
}