body {
  background: #333;
  color: white;
}
#head-line {
  font-size: 2rem;
  text-align: center;
}
#desc {
  font-size: 1.1rem;
  text-align: center;
}
#emoji-reactor-container {
  width: 80%;
  height: auto;
  margin: 1.5rem auto;
  padding: 0.5rem;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#emoji-reactor-container button {
  width: 100%;
  border: 3px solid purple;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  transition: background 0.5s ease-in, color 0.5s ease-in;
}
#emoji-reactor-container button:hover {
  background: purple;
  color: white;
}